.quote-container {
  background-color: #eee;
  padding: 40px;
  font-family: Georgia, serif;
}

.quote-container .quote p:first-child {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.quote-container .quote p:first-child::after {
  content: '';
  display: block;
  height: 3px;
  width: 60px;
  background-color: #ffde00;
  margin-top: 10px;
}

.quote-container .quote p:last-child {
  font-size: 1rem;
  color: #333;
  font-weight: 400;
}
