.columns > div {
  display: flex;
  flex-direction: column;
}


@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div:first-child {
    width: 90%;
    order: unset;
  }
  .columns > div > div:last-child{
    margin-left: 8%;
  }
}



