.section-heading h2 {
  position: relative;
  left:0;
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem; 
  font-weight: 400;
}

.section-heading h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;       
  height: 2px;     
  background: #ffea00;
  border-radius: 2px;
}
