
:root {
  --nav-height-initial: 200px;
  --nav-height-scrolled: 90px;
}

header .nav-wrapper {
  height: var(--nav-height-scrolled);
  background-color: var(--background-color);
  width: 100%;
  position: fixed;
  z-index: 10000000;
  transition: height 0.3s ease, padding 0.3s ease;
}
header nav .nav-sections ul li.active-page {
  background-color: var(--link-hover-color);
  transition: ease 0.3s
}
header.nav-scrolled .nav-wrapper {
  height: var(--nav-height-scrolled);
}
header{
  z-index: 10000000;
}
header nav {
  height: 100%;
  padding: 24px 24px;
  display: grid;
  grid-template:
    'hamburger brand tools' auto
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  transition: padding 0.3s ease;
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
  text-decoration: none;
}
header nav li:hover{
  background-color: var(--link-hover-color);
  text-decoration: none;
}
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  visibility: visible;
}

header nav .nav-hamburger button {
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--background-color);
  color: inherit;
}

.nav-hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 24px;
  height: 18px;
  position: relative;
}

.nav-hamburger-icon span,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  display: block;
  position: relative;
  width: 20px;
  box-sizing: border-box;
  height: 2px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  height: 2px;
  background: currentcolor;
  border-radius: 2px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon {
  height: 2px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
  width: 24px;
}
header nav[aria-expanded='false'] .nav-hamburger-icon span {
  background-color: black;
  width: 18px;
}
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
  width: 12px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  width: 24px;
  height: 2px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

header .nav-brand {
  grid-area: brand;
  font-size: var(--heading-font-size-xxl);
  font-weight: 700;
  line-height: 1;
}

.nav-brand .default-content-wrapper a {
  display: inline-block;
  width: 200px;
  height: 50px;
  text-indent: -9999px; 
  overflow: hidden;
  background-image: url('../../icons/wknd-logo-dk.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
header nav .nav-brand img {
  width: 128px;
  height: auto;
}

header nav .nav-sections {
  grid-area: sections;
  display: none;
  visibility: hidden;
  flex: 1 1 auto;
}
header nav[aria-expanded='false'] .nav-sections {
  display: none;
  visibility: hidden;
  align-self: start;
}
header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul li{
  list-style: none;
  font-size: var(--body-font-size-s);
  padding:1rem ;
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

header nav .nav-tools {
  grid-area: tools;
}

/* Style the icon */
header nav .nav-tools .icon-search {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

/* Make the icon image sized */
header nav .nav-tools .icon-search img {
  width: 16px;
  height: 16px;
  display: block;
}

/* Add the "Search" text after the icon using ::after */
header nav .nav-tools .default-content-wrapper p::after {
  content: "SEARCH";
  color: #888;
  font-size: 12px;
  pointer-events: none;
}
.nav-search-wrapper{
  background-color: pink;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;  
  padding: 6px 10px;
  max-width: 250px;
}
.nav-search-input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #555;
}
.nav-search-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  transform: rotateZ(90deg);
  font-weight: 500;
}
@media(min-width:600px){
 
}
@media(min-width:900px){
  
}
@media (min-width: 1024px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    padding: 0 50px;
  }
  header.nav-scrolled .nav-wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
  header .nav-wrapper {
  height: var(--nav-height-initial); 
  transition: height 0.3s ease, padding 0.3s ease;
}
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-width: 2px 2px 0 0;
    border-radius: 0 1px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    position: relative;
    flex: 0 1 auto;
    font-size: 14px;
    font-weight: 300;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }

}
#nav {
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

/* Hamburger Icon Styling 
.nav-hamburger button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 1001;
}

.nav-hamburger-icon span,
.nav-hamburger-icon span::before,
.nav-hamburger-icon span::after {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  position: relative;
  transition: 0.4s;
}

.nav-hamburger-icon span::before,
.nav-hamburger-icon span::after {
  content: '';
  position: absolute;
  left: 0;
}

.nav-hamburger-icon span::before {
  top: -8px;
}

.nav-hamburger-icon span::after {
  top: 8px;
}*/

