.breadcrumb.block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.breadcrumb.block > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.breadcrumb.block > div:not(:last-child)::after {
  content: '▶'; 
  font-size: 12px;
  color: var(--link-hover-color);
  margin: auto 8px;
  padding: 0 ;
}
.breadcrumb .button-container p{
  margin: 0;
}
.breadcrumb .button-container a {
  background-color: transparent;
  font-weight: 400;
  padding: 0;
}